*{
    padding: 0px;
    margin: 0px;
    user-select: none; /*禁用选中*/
}
#title{
    background-color: rgb(65, 65, 65,0.8);
    position: fixed;
    width: 100%;
    height: 80px;
}
#title h1{
    color: white;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}
#title a{
    color: white;
    text-decoration: none;
}
#title li{
    display: inline;
    margin: 4vw;
}
#title ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
/*以上是页眉*/
#home-page{
    height: 50vw;
    background-image: url(image/picture/P01.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color:wheat;
}
#home-page .title{
    color: white;
    font-size: 220px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 68%;           /* 需要指定高度 */
    user-select: none; /*禁用选中*/
    word-spacing: 3vw;
}
#home-page .slogan{
    color: white;
    display: flex;
    font-size: 40px;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 4vw;           /* 需要指定高度 */
    word-spacing: 3vw;
}
/*以上是首页*/
#about-us{
    height: 50vw;
    text-align: center;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(image/picture/P05.png);
}
#about-us section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding:130px;
}
#about-us h2{
    padding: 180px 20px;
    font-size: 50px;
}
/*以上是详情页*/
#invention{
    height: 50vw;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(image/picture/P06.png);
}
#invention h2{
    font-size: 60px;
    padding: 160px 10px 10px 130px;/* 上 | 右 | 下 | 左 */
}
#invention div{
    padding: 60px 10px 20px 130px;/* 上 | 右 | 下 | 左 */
}
/*以上是作品展示页*/
footer{
    height: 50px;
    display: flex;/*以箱元素显示*/
    flex-direction: column;/*竖向显示*/
    align-items: center;
    justify-content: center;/*置中*/
    background-color: rgba(59, 59, 59, 0.923);
}